/*----------------------paramétres généraux----------------------------------------*/

body {
    font-family: "Raleway", "Sans serif";
    margin: 0 5% 0 5%;
    max-width: 1450px;
    padding: 0 4px;
    box-sizing: border-box;
    font-size: 14px;
  }
  a {
    color: black;
    text-decoration: none;
  }
  @media(max-width: 700px){
    body{
      margin:0 1% 0 1%;
    }
  }
  @media(max-width: 600px){
    body{
      margin:0 3% 0 3%;
      padding: 0;
    }
  }
  /*----------------------Header Navigation----------------------------------------*/
  .header {
    display: flex;
    max-width: 1440px;
    margin: auto;
    justify-content: space-between;
  }
  .headerImg {
    padding: 0 4px;
    height: 50px;
  }
  .headerNav {
    display: flex;
    align-items: center; 
  }
  .headerNavLink {
    padding: 20px;
    font-weight: 500;
    border-top: 2px;
    border-bottom: 2px;
  }
  .headerNavLinkSign{
   color: #0065FC;
   margin: 0 0 0 30px;
   font-weight: bold;
  }
  .headerNavLink[data-active=true]{
      color:  #0065FC;
  }

  @media(max-width: 600px){
    .header {
      display: flex;
      flex-direction: column;
    }
    .headerNav{
      width: 100%;
      justify-content: center;
    }
    .headerNavLink {
      border-bottom: 2px solid #F2F2F2;
      font-size: 16px;
    } 
    .headerNavLinkSign{
     padding: 0;
     font-size: 16px;
    }
  }

  /*----------------------Header button----------------------------------------*/

  .headerSearchTitle{
    margin-bottom: 15px;
  }
  .headerSearchParagraph{
    margin-top: 0px;
  }
  .searchForm{
    display: flex;
    overflow: auto;
    height: 35px;
  }
  .searchFormIcone{
    background-color: #F2F2F2;
    text-align: center;
    border-radius: 3px 0 0 3px;
    padding: 6px 10px;
  }
  .searchFormInput{
    font-weight: bold;
    font-size: 12px;
    color: black;
    border-top: #F2F2F2 solid 2px;
    border-bottom: #F2F2F2 solid 2px;
    padding: 0 5px;
    width: 130px;
    border-right: none;
    border-left: none;
  }
  .searchFormInput::placeholder{
    font-family: "raleway", "sans-serif";
    color: black;
    font-size: 12px;
  }
  .searchFormButton{
    background-color: #0065FC;
    color: white;
    font-weight: bold;
    border: none;
    padding: 0 12px;
    font-family: "raleway", "sans-serif";
    border-radius: 0 10px 10px 0;
    cursor: pointer;
    font-size: 12px;
  }
  @media(max-width: 600px){
    .search{
      display: flex;
      flex-direction: column;
    }
    .searchForm{
      justify-content: center;
    }
    .searchFormInput{
      font-weight: bold;
      font-size: 14px;
      width: 60%;
    }
    .searchFormInput::placeholder{
      font-size: 14px;
    }
    .searchFormButton{
      font-size: 14px;
  }
}
   /*----------------------filter----------------------------------------*/

   .filter{
     display: flex;
     margin-top: 20px;
     flex-wrap: wrap;
   }
   .filterMainTitle{
    display: flex;
    align-items: center;
    margin: 0px 15px 12px 0;
    font-size: 15px;
   }
   .containerFilter{
     display: flex;
     align-items: center;
     cursor: pointer;
     margin: 0 0 10px 15px;
     border: solid 2px #F2F2F2;
     border-radius: 50px;
     height: 30px;
   }
   .containerFilter:hover, .filterIcon:hover{
     color: #0065FC;
     border-radius: 0 0 0 0;
   }
   .filterIcon{
     display: flex;
     justify-content: center;
     height: 31px;
     width: 31px;
     align-items: center;
     border-radius: 100%;
     color: #0065FC;
     background-color: #F2F2F2;
   }
   
   .filterTitle{
     margin: 0 10px;
     font-family: "raleway","sans-serif";
     font-weight: bold;
     font-size: 12px;
   }
   .informationPoint{
     display: flex;
     align-items: center;
     margin: 15px 0 20px 0;
   }
   .informationPointIcon{
     display: flex;
     align-items: center;
     justify-content: center;
     border: #d9d9d9 solid 2px;
     border-radius: 100%;
     height: 15px;
     width: 15px;
     color: blue;
     background-color: #d9d9d9;
     margin: 0 15px 0 0;
   }
   @media(max-width: 600px){
    .filter{
      flex-direction: column;
    }
    .filterMainTitle{
     font-size: 14px;
    }
    .containerFilter{
      height: 45px;
      width: 70%;
    }
    .filterIcon{
      height: 49px;
      width: 50px;
    }
    .filterTitle{
      font-size: 14px;
    }
    .informationPointIcon{
      height: 20px;
      width: 20px;
      color: #0065FC;
      border-radius: none;
      border: none;
     background-color:white;
   }
  }

   /*----------------------reservation----------------------------------------*/
   
   .hostContainer{
    display: flex;
    justify-content: space-between;
    width:100%;
    height: 550px;
  }
  
  .middleContainer{
    background-color: #F2F2F2;
    max-width: 65%;
    border: solid #F2F2F2 1px;
    border-radius: 15px;
    height: 100%;
  }
  .hostMainContainer{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: auto;
  }
  .postReservation{
   opacity: 1;
   cursor: pointer;
   background-color: white;
   border-radius:20px;
   border: 1px solid white;
   color: white;
   margin: 2% 3% 2% 3%;
   padding: 2px;
   height: 200px;
   width: 25%;
   overflow: hidden;
   display: flex;
   flex-direction: column;
  }
  .reservationInfo{
 margin: 5px 0 0 7px;
 width:100%;
 height: auto;
  }
  .reservationInfoParagraph{
  font-size: 14px;
  color: black;
  margin: 0;
  }
  .mainContainerTitle{
   margin: 15px 0 0 20px;
  }
  .mainContainerLastTitle{
   margin: 10px 0 15px 30px;
   font-size: 12px;
  }
  .postReservation:hover{
    opacity: 0.7;
  }
  .postReservation img{
    width: 100%;
    height:70%;
    border-radius: 10px 10px 0 0px;
  }
  .reservationStars{
    margin: 0;
    font-size: 12px;
  }
  .ReservationStarsIcon[data-active=true] {
    color: #0065FC;
  }
  .ReservationStarsIcon[data-active=false] {
    color: #d9d9d9;
  }
  
  @media(max-width: 600px){
    .hostContainer{
      flex-direction: column-reverse;
      height: auto;
    }
    .middleContainer{
      background-color: white;
      max-width: 100%;
      border: none;
      border-radius: none;
    }
    .hostMainContainer{
      width: 100%;
      height: auto;
    }
    .postReservation{
     border: 1px solid #F2F2F2;
     color: white;
     width: 100%; 
     height: auto; 
     padding: 0;
    }
    .reservationInfo{
   margin: 5px 0 0 7px;
   width:100%;
    }
    .reservationInfoParagraph{
    font-size: 16px;
    }
    .mainContainerTitle{
     margin: 15px 0 0 20px;
    }
    .mainContainerLastTitle{
     font-size: 10px;
    }
    .postReservation img{
      border-radius: 15px 15px 0 0px;
    }
    .reservationStars{
      font-size: 12px;
    }
  }
  
    /*------------------------aside------------------------------*/
  
  
  .asideMainContainer{
    background-color: #F2F2F2;
    width: 30%;
    border: solid #F2F2F2 1px;
    border-radius: 15px;
    height: auto;
  }
  .asideTitle{
  margin: 15px 0 0 20px;
  display: flex;
  justify-content: space-around;
  }
  .asideContainer{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    height: 100%;
  }
  .popblock{
   opacity: 1;
   cursor: pointer;
   background-color: white;
   border-radius:20px;
   border: 1px solid white;
   width: 80%;
   height: 20%;
   overflow: hidden;
   margin: 14px;
   display: flex;
   padding: 2px;
  }
  .popblock:hover {
    opacity: 0.7;
  }
  .asideImg{
    width: 35%;
    height: 100%;
    border-radius: 20px 0 0 20px;
  }
  .asideReservationInfo{
    padding: 2px;
    margin: 5px 0 0 0px ;
    font-size: 16px;

  }
  .asideReservationInfoParagraph{
    margin: 3px 5px 0 0;
    height: 50%;
  }
  .asideReservationStars{
    font-size: 12px;
    margin-top: 30px;
    height: 5%;
  }
  .asideReservationStarsIcon[data-active=true] {
    color: #0065FC;
  }
  .asideReservationStarsIcon[data-active=false] {
    color: #d9d9d9;
  }
  @media(max-width: 600px){
    .asideMainContainer{
      background-color: #F2F2F2;
      width: 100%;
      border: solid #F2F2F2 1px;
      border-radius: 0;
      height: auto;
    }
    .asideContainer{
      height: auto;
      width: auto;
    }
    .popblock{
     width: 80%;
     height: 25%;
     margin-top: 10px;
    }
    .asideReservationInfo{
      padding: 10px;
    }
    .asideReservationInfoParagraph{
      width: 100%;
    }
    .asideImg{
      width: 45%;
      height: 100%;
      border-radius: 20px 0 0 20px;
    }
  }
  /* ----------------------------MARSEILLE ACTIVITY----------------------------------- */
  .activity {
    display: grid;
    column-gap: 25px;
    margin: 45px 0;
  }
  .activityTitle {
    grid-column: 1/-1;
  }
  .activityItems {
    box-shadow: 0 0 20px #0000002e;
    border-radius: 15px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
  }
  .activityItems:hover {
    opacity: 0.7;
  }
  .activityItemsWrapmode {
    position: relative;
    flex: 1;
  }
  .activityItemsImg {
    position: absolute;
    height: 100%;
    width: 100%;
  }
  .activityItemsTitle {
    margin: 16px 20px;
    font-size: 14px;
  }

  @media (min-width: 900px) {
    .activity {
      grid-template-rows: auto 220px 30px 30px 30px 220px;
      grid-template-columns: repeat(1fr 1fr 1fr 1fr 1fr);
    }
    .activityItems1 {
      grid-column: 1/2;
      grid-row: 2/7;
    }
    .activityItems2 {
      grid-column: 2/3;
      grid-row: 2/5;
    }
    .activityItems3 {
      grid-column: 3/4;
      grid-row: 2/7;
    }
    .activityItems4 {
      grid-column: 4/5;
      grid-row: 2/3;
    }
    .activityItems5 {
      grid-column: 2/3;
      grid-row: 6/7;
    }
    .activityItems6 {
      grid-column: 4/5;
      grid-row: 4/7;
    }
  }
  @media (max-width: 900px) {
    .activity {
      row-gap: 20px;
      grid-template-columns: 1fr 1fr 1fr;
      grid-template-rows: auto 180px 180px;
      margin-bottom: 35px;
    }
  }
  @media (max-width: 600px) {
    .activity {
      row-gap: 30px;
      grid-template-columns: 1fr;
      grid-template-rows: auto 180px 180px 180px 180px 180px 180px;
    }
  }

/* ---------------------footer------------------------------------- */

footer{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin:auto;
  background-color: #F2F2F2;
  width: 100%;
  height: 150px;

}
.footerMenu{
  display: flex;
  flex-direction: column;
  width: auto;
  height: auto;
  text-align: left;
}
.footerMenu li{
  list-style: none;  
  font-size: 16px;
} 
.footerMenu li{
    margin-top: 5px;
  }
  .footerMenu li:hover{
    opacity: 0.7;
  }
@media(max-width: 600px){
  footer{
    flex-direction: column; 
    margin-top: 40px;
    height: 340px;
    padding: 20px;
  }
  .footerMenu li{
      margin-top: 5px;
    }
}
@media(max-width: 1050px){
  .hostContainer{
    height: auto;
  }
  .postReservation img{
    height:60%;
  }
  .asideReservationInfoParagraph{
    font-size: 14px;
  }
 .reservationInfoParagraph{
  font-size: 14px;
  }
  .activityMainContainer{
    height: 450px;
  }
  .activityParagraph, .activitySmallParagraph{
    font-size: 14px;
}
  .postReservation{
  height: 220px;
}
  .popblock{
  height: 130px;
  width: 85%;
}
  .asideReservationInfo{
  margin: 0;
}
  .asideReservationStars{
  margin-top: 40px;
  font-size: 12px;
}
}
