body {
    font-family: "Raleway", "Sans serif";
    margin: 0;
  }
  
  a {
    color: inherit;
    text-decoration: none;
  }
  
  .header {
    display: flex;
    justify-content:space-between;
    max-width: 1440px;
    margin: auto;
  }
  .headerImg {
    padding: 0 2rem;
    height: 2.813rem;
  }
  .headerNav {
    display: flex;
    justify-content: flex-end;
    
  }
  .headerNavLink {
    padding: 2rem;
    font-weight: 500;
    border-top: 2px;
    border-bottom: 2px;
  }
  .headerNavLink[data-active=true]{
      color: blue
  }