/*----------------------paramétres généraux----------------------------------------*/

body {
    font-family: "Raleway", "Sans serif";
    margin: 0;
  }
  
  a {
    color: inherit;
    text-decoration: none;
  }
  
  /*----------------------Header Navigation----------------------------------------*/
  .header {
    display: flex;
    justify-content:space-between;
    max-width: 1440px;
    margin: auto;
  }
  .headerImg {
    padding: 0 4px;
    height: 46px;
  }
  .headerNav {
    display: flex;
    justify-content: flex-end;
    
  }
  .headerNavLink {
    padding: 2rem;
    font-weight: 500;
    border-top: 2px;
    border-bottom: 2px;
  }
  .headerNavLink[data-active=true]{
      color: blue/*a changer*/
  }

  /*----------------------Header button----------------------------------------*/
  
 .mainContainer{
   margin: auto;
   max-width: 1450px;
   padding: 0 4px;
   box-sizing: border-box;
 }
  .headerSearchTitle{
    margin-bottom: 15px;
  }
  .headerSearchParagraph{
    margin-top: 0px;
    font-size: 14px;
  }
  .searchForm{
    display: inline-flex;
    overflow: auto;
    height: 35px;
  }
  .searchFormIcone{
    background-color: #F2F2F2;
    text-align: center;
    border-radius: 3px 0 0 3px;
    padding: 6px 10px;
  }
  .searchFormInput{
    font-weight: bold;
    font-size: 12px;
    box-sizing: border-box;
    color: black;
    border-top: #F2F2F2 solid 2px;
    border-bottom: #F2F2F2 solid 2px;
    border-right: none;
    border-left: none;
    padding: 0 5px;
    width: 130px;
  }
  .searchFormInput::placeholder{
    font-family: "raleway", "sans-serif";
    color: black;
    font-size: 12px;
  }
  .searchFormButton{
    background-color: #0065FC;
    color: white;
    font-weight: bold;
    border: none;
    padding: 0 12px;
    font-family: "raleway", "sans-serif";
    border-radius: 0 10px 10px 0;
    cursor: pointer;
    font-size: 12px;
  }

   /*----------------------filter----------------------------------------*/

   .filter{
     display: flex;
     margin-top: 20px;
     flex-wrap: wrap;
   }
   .filterMainTitle{
    display: flex;
    align-items: center;
    margin: 0px 15px 12px 0;
    font-size: 15px;
   }
   .containerFilter{
     display: flex;
     align-items: center;
     cursor: pointer;
     margin: 0 0 10px 15px;
     border: solid 2px #F2F2F2;
     border-radius: 50px;
     height: 30px;
   }
   .filterIcon{
     display: flex;
     justify-content: center;
     height: 31px;
     width: 31px;
     align-items: center;
     border-radius: 100%;
     color: blue;
     background-color: rgb(184, 191, 250);
   }
   .filterTitle{
     margin: 0 10px;
     font-family: "raleway","sans-serif";
     font-weight: bold;
     font-size: 12px;
   }
   .informationPoint{
     display: flex;
     align-items: center;
     margin: 15px 0 20px 0;
   }
   .informationPointIcon{
     display: flex;
     align-items: center;
     justify-content: center;
     border-radius: 100%;
     height: 15px;
     width: 15px;
     border: solid 1px #d9d9d9d9;
     background-color: #0065FC;
     color: white;
     margin: 0 15px 0 0;
   }
   .informationPointParagraph{
    font-size: 14px;
   }
   
   /*----------------------reservation----------------------------------------*/

   
